@import '../helpers.scss';

.Header{
    .Logo{
        fill: $white;
        font-size: calculateRem(23px);
        font-family: 'GothamBold';
    }
    &__top{
        display: flex;
        padding: 0 2%;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        background-color: $blue-main-color;
    }
}

.UserMenu{
    display: flex;
    align-items: center;
    margin-right: 40px;
    &__name{
        color: $white;
        margin-right: 25px;
        font-family: $font-bold;
        font-size: calculateRem(13px);
    }
    &__icon{
        font-weight: bold;
        color: white;
        margin-top: 5px;
    }
}