@import '../helpers.scss';

.Header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    &__top{
        display: flex;
        padding: 0 3%;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        background-color: $blue-main-color;
    }
}

.UserMenu{
    display: flex;
    align-items: center;
    &__name{
        color: $white;
        margin-right: 25px;
        font-family: $font-medium;
    }
    &__icon{
        font-weight: bold;
        color: white;
        margin-top: 5px;
    }
}

nav {
    background-color: $white;
    display: block;
    padding: 0 3%;
    box-shadow: -1px 1px 5px -1px rgb(0 0 0 / 10%);

    li{
        padding: 10px 0;
        cursor: pointer;
    }
}

.MainMenu {
    display: flex;
    & > li {
        margin-left: 20px;
        position: relative;
        font-size: calculateRem(14px);
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 101%;
            height: 4px;
            background-color: $blue-main-color;
            opacity: 0;
        }
        &:hover{
            &::before, & > ul{
                opacity: 1;
            }
            ul{
                pointer-events: all ;
            }
        }
        ul{
            left: 0;
            top: 100%;
            opacity: 0;
            pointer-events: none;
        }
    }

}

.Submenu{
    box-shadow: -1px 1px 5px -1px rgb(0 0 0 / 10%);
    position: absolute;
    border: 1px solid;
    min-width: 100%;
    width: 183px;
    transition: .4s ease-in-out;
    background-color: $white;

    li{
        border-bottom: 1px solid;
        padding: 10px 13px;
        &:last-child {
            border: none;
        }
        &:hover{
            & > ul {
                opacity: 1;
            }
        }
        ul{
            opacity: 0;
            left: 100%;
            top: -1px;
        }
    }
}