@import '../styles/helpers.scss';
@import '../styles/components/Menu.scss';

body{
    background-color: $white;
    color: $grey;
    font-family: $font-light;
    font-size: 16px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.Banner{
    height: 71vh;
    width: 100%;
    background-image: url(../assets/bg-content.jpg);
    background-size: contain;
}

.Footer{
    height: 104px;
    background-color: $blue-main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12%;
    color: $white;
    font-size: calculateRem(12px);
    border-top: 2px solid $blue-light;
    font-weight: 600;
}

@font-face {
    font-family: GothamBold;
    src: url(./fonts/Gotham-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: GothamMedium;
    src: url(./fonts/GothamMedium.woff);
}

@font-face {
    font-family: GothamLight;
    src: url(./fonts/Gotham-Light.woff);
}